body {
  padding-top: 5rem;
  padding-bottom: 2rem;
  text-align: left;
}
.hide {
  display: none;
}
.infinite-container {
  text-align: right;
}
.dashboard {
  margin-top: 4rem;
  margin-bottom: 0rem;
}
.name {
  text-align: left;
}
.reference {
  padding-top: 0.7rem;
  padding-bottom: 0.7rem;
  border-bottom:1px solid rgba(0, 0, 0, 0.2);

}
.table thead tr th, .table tbody tr td {
  border: none;
}
  
.row {
  position: relative; 
}
.bottom-align-text {
  position: absolute;
  bottom: 0;
  right: 0;
}

#search-wrapper {
  padding: 10px;
  z-index: 1;
}

#search-field{
  min-width: 100px;
  padding: 5px;
  z-index: 10;
}

#ui-id-1 {z-index: 9999999999;}

