
body {
  padding-top: 4rem;
  /* padding-left: 0.6rem; */
  padding-right: 0rem;
  padding-bottom: 2rem;
  text-align: left;
}
.table thead tr th, .table tbody tr td {
  
  border: none;
}

.infinite-container {
  text-align: right;
}
.dashboard {
  margin-top: 0rem;
  margin-bottom: 2rem;

}
.name {
  text-align: left;
}
.reference{
  padding-top: 0.7rem;
  padding-bottom: 0.7rem;
  border-bottom:1px solid rgba(0, 0, 0, 0.2);
}
/* 
.jumbotron {
  margin-bottom: 0px;
  background-position: 0% 25%;
  background-size: cover;
  background-repeat: no-repeat;
  color: rgb(0, 0, 0);
  background: rgb(255, 255, 255);
  border: 0.07rem solid rgb(93, 110, 184);
  }  */

.row {
  position: relative; 
}
.bottom-align-text {
  position: absolute;
  bottom: -2px;
  right: 0;
}

.nav_form {
  position: relative;
}

.alert {
  width: 500px;
}