{% extends 'frontpage/base.html' %}

{% block content %}
      <div class="container">
        <h1 class="mt-4 mb-4 text-center">Coins by Marketcap</h1>
        <div class="">
            <table class="table table-bordered table-responsive-xl table-striped infinite-container">
                <thead>
                    <tr class="table-header">
                        <th scope="col" class="text-right" style="width: 5%">#</th>
                        <th scope="col" class="text-left" style="width: 15%">Name</th>
                        <th scope="col" class="text-right" style="width: 18.75%">Market Cap</th>
                        <th scope="col" class="text-right" style="width: 18.75%">Price</th>
                        <th scope="col" class="text-right" style="width: 18.75">Volume</th>
                        <th scope="col" class="text-right" style="width: 18.75%">Circulating Supply</th>
                        <th scope="col" class="text-right" style="width: 5%">%24h Change</th> 
                    </tr>
                </thead>
                <tbody class="infinite-item">
                    {% for coin in coins %}
                    <tr class="">
                        <th scope="row" class="text-right">{{ coin.rank }}</th>
                        <td id="{{coin.name}}-name" class="text-left "><a href="{{ HTTP_HOST }}/{{coin.slug}}">{{coin.name}} <i>{{coin.symbol}}</i></td>
                        <td id="{{coin.name}}-marketcap" class="text-right">{{coin.marketcap}}</td>
                        <td id="{{coin.name}}-price" class="text-right">{{coin.price}}</td>
                        <td id="{{coin.name}}-volume" class="text-right">{{coin.volume}}</td>
                        <td id="{{coin.name}}-circulating_supply" class="text-right">{{coin.circulating_supply}}</td>
                        <td id="{{coin.name}}-percent_change_24h" class="text-right">{{coin.percent_change_24h}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
      </div>
      {% if coins.has_next %}
      <a class="infinite-more-link" href="?page={{ coins.next_page_number }}"></a>
      {% endif %} 

      <script>
      var infinite = new Waypoint.Infinite({
        element: $('.infinite-container')[0]
      })
      </script>
      <script>
        var tableSocket = new WebSocket(
            'ws://' + window.location.host + "/ws/table/");
            console.log('connected');

        tableSocket.onmessage = function(e) {
            var data = JSON.parse(e.data);
            var content = JSON.parse(data.content)
            
            
            //varyColour(content.name+'-marketcap', content.marketcap);
            document.getElementById(content.name+'-marketcap').innerHTML = content.marketcap;
            
            varyColour(content.name+'-price', content.price);
            document.getElementById(content.name+'-price').innerHTML = content.price;
            
            varyColour(content.name+'-volume', content.volume);
            document.getElementById(content.name+'-volume').innerHTML = content.volume;
            
            //varyColour(content.name+'-circulating_supply', content.circulating_supply);
            document.getElementById(content.name+'-circulating_supply').innerHTML = content.circulating_supply;
            
            document.getElementById(content.name+'-percent_change_24h').innerHTML = content.percent_change_24h;
        };
        
        function varyColour(id, new_val) {
            var prev_val = document.getElementById(id).innerHTML
            if (prev_val > new_val){
                document.getElementById(id).style = "color:red";
            } else if (prev_val < new_val) {
                document.getElementById(id).style = "color:green";
            } else {
            }
        }
      </script>
      <!-- Bootstrap core JavaScript
      ================================================== -->
      <!-- Placed at the end of the document so the pages load faster -->
      {% comment %} <script src="{% static 'frontpage/js/jquery-3.1.1.min.js' %}"></script> {% endcomment %}
      {% comment %} <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script> {% endcomment %}
      {% comment %} <script>window.jQuery || document.write('<script src="../../js/jquery-slim.min.js"><\/script>')</script> {% endcomment %}
      {% comment %} <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script> {% endcomment %}
      {% comment %} <script src="{% static 'frontpage/js/bootstrap.min.js' %}"></script> {% endcomment %}
      <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
  
{% endblock %}